* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body, #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: hsl(228, 33%, 97%);
}

.comments-section {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: hsl(238, 40%, 52%);
}


.delete-modal-wrapper {
  padding: 20px;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.322);
}

.delete-modal {
  width: 25%;
  background-color: white;
  padding: 27px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delete-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.delete-btn-container > button {
  height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.delete-back-btn {
  color: white;
  background-color: hsl(211, 10%, 45%)
}

.delete-btn {
  background-color: hsl(358, 79%, 66%);
  color: white;
}


.new-comment-section {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 700px;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.current-user-avatar {
  width: 40px;
  height: 40px;
}

.new-comment-section textarea {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  height: fit-content;
  padding: 10px 20px;
  border: 1px solid hsl(223, 19%, 93%);
  border-radius: 10px;
  resize: none;
}

.new-comment-section textarea:focus {
  outline: 1px solid  hsl(212, 24%, 26%);
}

button:hover {
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(197, 199, 240);
}


@media screen and (max-width: 750px) {
  body {
    padding: 20px;
  }

  #root {
    padding: 0;
    width: 100%;
  }

  .comments-section, .new-comment-section {
    width: 100%;
  }

  .new-comment-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .new-comment-input {
    grid-column: 1/ span 2;
  }
  .current-user-avatar, .new-comment-btn {
    grid-row: 2;
  }

  .new-comment-btn {
    margin-left: auto;
  }

  .delete-modal {
    width: 100%;
}


}